.searchResult {
    height: 200rem;
}

.profilePreview{
    padding-top: 1rem;
}

.profilePics {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle; 
}

.profileInfo {
    padding-left: 2%;
    display: inline-block;
    vertical-align: middle; 
    max-width: 14rem;
    min-width: 65%;
    max-height: 5rem;
}

.bio {
    position: relative;
    bottom: 0.5rem;
}

.listPrompt {
    text-align: left;
    display: block;
}

.listByReaction {
    margin-bottom: 3.5rem;
    max-height: 10%;
}
